
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@ViewBag.session["user"]


<div class="col-xs-12 col-md-10 col-lg-6">
    <form id="shipping-address" class="centered">
        <label for="ship-to">Ship To:</label>
        <input name="ship-to" type="text" />
        <br />
        <label for="address1">Address line 1</label>
        <input name="address1" type="text" />
        <br />
        <label for="address2">Address line 2</label>
        <input name="address2" type="text" />
        <br />
        <label for="city">City</label>
        <input name="city" type="text" />
        <br />
        <label for="state">State/Province</label>
        <input name="state" type="text" />
        <br />
        <label for="zip">Zip/Postal Code</label>
        <input name="zip" type="text" />
        <br />
        <label for="country">Country</label>
        <input name="country" type="text" />
        <br />
        <label for="phone">Phone</label>
        <input name="phone" type="text" />

        <button onclick="updateShippingAddress()">Save Shipping Address</button>
    </form>

</div>
