/* ***************** COMMON ***************************************** */

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("/Content/images/birch-forest-tile.jpg");
}

.body-content {
    background-color: #f8fff8;
}

main {
    min-height: 70vh;
    height: 70vh;
    display: block;
}

footer {
    font-size: small;
    bottom: 0;
}



/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.container {
    height: auto;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    color: #011f01; /* super dark green */
    font-size: medium;
}

.row {
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-square-rounded {
    width: 100%;
    height: 100%;
    max-width: 300px;
    margin: 0 auto;
    display: block;
    border-radius: 14px;
}

.background-image {
    position: absolute;
    width: 100%;
    max-height: 290px;
}

.foreground-text {
    position: inherit;
    font-size: small;
    padding: 45px 10px 20px 100px;
}

h2 {
    background-color: #225f22;
    color: white;
    padding: 8px;
    border: thin ridge yellow;
    border-radius: 6px;
}

/* ****************************** Navbar ****************************************** */
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav li a {
    color: #b2ff76;
}


/* Shopping Cart Icon Fix */
.glyphicon {
    position: inherit;
    margin-right: 8px;
}

/* **************************** Product display *********************************** */
.product-item {
    height: auto;
    margin-top: 12px;
    margin-bottom: 30px;
    padding: 5px;
    border: transparent thick solid;
    border-radius: 14px;
}

.product-item * {
    text-align: center;
    margin: 0;
    padding: 0;
}

.product-image {
    width: 200px;
    height: 220px;
    margin: auto;
}

.selected button {
    border: red 2px solid;
    border-radius: 6px;
}

.image-wrapper {
    width: 100%;
}

/* ************************* Order detail page *************** */
.item-detail-header *,
.item-detail-total * {
    font-weight: bold;
}

/* ************************* Retailer map page *************** */
#retailer-map-container {
    height: 100%;
    border-radius: 8px;
    border: thick ridge green;
}


#retailer-map-view {
    height: 100%;
    min-height: 100px;
    border: thin black solid;
}

#retailer-list-view {
    height: 100%;
    border: 2px gray inset;
    background-color: beige;
    overflow: scroll;
}

#retailer-list-view form {
    width: 100%;
}

#retailer-list-view form input[name='zip'] {
    width: 50px;
}

#retailer-list-view form input[name='range'] {
    width: 30px;
}

.retailer-name {
    font-weight: bold;
}


/* **************************** Testimonials page ******************************* */
#testimonial-item {
    overflow: scroll;
}

#testimonial-display {
    display: table;
    height: 80vh;
    border: ridge green thick;
    border-radius: 14px;
    text-align: center;
}

.display-table {
    display: table;
    height: 100%;
    width: 100%;
}

.display-cell {
    display: table-cell;
    vertical-align: middle;
}

#testimonial-display img {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: auto;
    border: solid lightgray thin;
    border-radius: 14px;
}

.selected-testimonial {
    font-weight: bold;
}

/* ********************** FAQ page ******************************* */
.faq {
    margin: 10px auto;
    box-sizing: border-box;
    border: thin solid green;
    border-radius: 14px;
    height: 300px;
}

.c1 {
    background-color: lightgoldenrodyellow;
}

.c2 {
    background-color: lightcyan;
}

.c3 {
    background-color: antiquewhite;
}

.c4 {
    background-color: lavender;
}

.qa-question,
.qa-answer {
    padding: 8px;
}

.qa-question {
    font-size: large;
    font-weight: bold;
    height: 100px;
}

.qa-question::before,
.qa-answer::before {
    font-size: 20pt;
    font-weight: bold;
    color: black;
    text-align: center;
    border: green outset thick;
    border-radius: 14px;
    float: left;
    width: 2em;
    height: 2em;
    padding: 8px;
    margin-right: 10px;
}

.qa-question::before {
    content: 'Q';
}
.qa-answer::before {
    content: 'A';
}




/* ********************* Overrides ******************************* */
.centered {
    margin-left: auto;
    margin-right: auto;
}
