<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/5e88a17e-1b5f-45c3-8b69-d04224534494/resourceGroups/DeerflyPatches/providers/Microsoft.Web/sites/DeerflyPatches</ResourceId>
    <ResourceGroup>DeerflyPatches</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://deerflypatches.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>deerflypatches.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>DeerflyPatches</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$DeerflyPatches</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DeerflyPatches.Models.ApplicationDbContext" Order="1" Enabled="True">
          <Destination Path="Data Source=dfp.database.windows.net;Initial Catalog=Dfp;User ID=cstieg;Password=sens*R20" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="DeerflyPatches.Models.ApplicationDbContext, DeerflyPatches" MigrationConfiguration="DeerflyPatches.Migrations.Configuration, DeerflyPatches" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ProductionConnection" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=dfp-sql.czdke53bwi3h.us-east-2.rds.amazonaws.com;Initial Catalog=dfp;User ID=cstieg;Password=sens*R20" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\ProductionConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=dfp-sql.czdke53bwi3h.us-east-2.rds.amazonaws.com;Initial Catalog=dfp;User ID=cstieg;Password=sens*R20;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DeerflyPatches-20170814101127.mdf;Initial Catalog=aspnet-DeerflyPatches-20170814101127;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-DeerflyPatches-20170814101127.mdf;Initial Catalog=aspnet-DeerflyPatches-20170814101127;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DeerflyPatches.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=dfp.database.windows.net;Initial Catalog=Dfp;User ID=cstieg;Password=sens*R20</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DeerflyPatches.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=dfp.database.windows.net;Initial Catalog=Dfp;User ID=cstieg;Password=sens*R20</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DeerflyPatches.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=dfp.database.windows.net;Initial Catalog=Dfp;User ID=cstieg;Password=sens*R20</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=dfp.database.windows.net;Initial Catalog=Dfp;User ID=cstieg;Password=sens*R20</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DeerflyPatches.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>