
@model IEnumerable<Deerfly_Patches.Models.Product>

@{
    ViewData["Title"] = "Order";
}

<h2>Order</h2>

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
           @Html.Partial("_ProductPartial", item)
        }
    </div>
</div>