@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<main class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img class="image-square-rounded" src="~/content/images/deerfly1.jpg"
                 srcset="~/content/images/deerfly1.jpg 285w, ~/content/images/deerfly1-small.jpg 143w"
                 alt="Deerfly feeding on human skin" />
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
            <h3>About Deerflies</h3>
            <p>
                Deer flies are a type of horse fly that target the head and neck of its victims,
                both animal and human, leaving a painful bite to which many are allergic.
                They are active in the summer months in northern USA and Canada.
            </p>
            <p>
                Deer flies cannot be deterred or repelled.
                There is no repellant to defend yourselves against them.
                They will not relent until they get what they are after - blood.
                There is only one solution: get them before they get you!
            </p>
        </div>

        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
            <img class="background-image" src="~/content/images/slantbox-info.png" />
            <div class="foreground-text centered">
                <h3>
                    Deer flies are also known as:
                </h3>
                <ul>
                    <li>Marsh Flies</li>
                    <li>Sheep Flies</li>
                    <li>Yellow Flies</li>
                    <li>Pine Flies</li>
                    <li>Strawberry Flies</li>
                    <li>May Flies</li>
                    <li>Greenheads</li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-sm-12">
            <h3>About Deerfly Patches</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6" id="about-deerflies">
            <p>
                Deerfly Patches are 2" by 6" flesh-colored traps that attach to the back of the cap or hat.
                Attacking deerflies land on the patch. When they do, they stay.
                The deerflies are no longer a nuisance flying around your head or biting.
            </p>
            <p>
                Deerfly Patches have been field tested by Ohio State University and the Michigan Department of
                Fisheries and Wildlife. People like them because they have no chemicals and no odor, nothing
                greasy to rub or spray on your skin.
            </p>
            <p>
                We have studied deerflies intensively for nearly thirty years and have done extensive research
                and testing on their biting habits.  We have tested all insect repellents....they don't work
                effectively on deerflies.
            </p>
            <p>
                In the development of our Deerfly Patches, we have tested and proven different habits of the
                deerfly to determine why they bite some people more than others.
                We have experimented with carbon dioxide emissions, body heat emissions, motion and non-motion,
                clothing colors, reflective objects, smooth and furry surfaces, body odors, as well as
                environmental conditions...location, time of day, sunshine/cloudy, warm/cool, etc.
                From our research and development, we have created the best control for Deer Flies.
            </p>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6" id="deerfly-images">
            <div class="deerfly-images-content">
                <iframe class="video" width="560" height="315"
                        src="https://www.youtube.com/embed/DqEAD1sfYIY?rel=0"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</main>
