@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>

<address>
    Detex<br />
    17852 Ten Mile Road<br />
    LeRoy, MI 49655<br />
    Phone: 
    (231) 832-2323
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">stieg_d@yahoo.com</a><br />
</address>