
@{
    ViewBag.Title = "Faq";
}

<h2>Faq</h2>
<main class="container">
    <div class="row">
        <article class="col-xs-12 col-sm-6 col-md-4" id="qa1">
            <div class="col-sm-12 faq c1">
                <section class="qa-question">
                    What is the best insect repellent for deer flies ?
                </section>
                <section class="qa-answer">
                    A conventional repellent will not work on deer flies. Even DEET won't stop them.
                    Natural Trednot Deerfly Patches worn on the cap is the most effective protection.
                    They are odorless, no chemicals, and safe with children.
                </section>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4" id="qa2">
            <div class="col-sm-12 faq c2">
                <section class="qa-question">
                    How long will one patch last?
                </section>
                <section class="qa-answer">
                    Each patch will last all day on your cap, even longer;
                    just hang it up overnight and wear it again the next day.
                    It can last up to 3 days.
                </section>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4" id="qa3">
            <div class="col-sm-12 faq c3">
                <section class="qa-question">
                    What is the shelf life on the patches?
                </section>
                <section class="qa-answer">
                    They will last for three years in the package.
                </section>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4" id="qa4">
            <div class="col-sm-12 faq c4">
                <section class="qa-question">
                    Can I wear the patch anywhere other than my cap or hat?
                </section>
                <section class="qa-answer">
                    No. Due to the habit of the deerfly, they are only effective on the top / back of the cap.
                </section>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4" id="qa5">
            <div class="col-sm-12 faq c1">
                <section class="qa-question">
                    Does it matter what color of cap I wear?
                </section>
                <section class="qa-answer">
                    Our tests show that a light blue cap works best.
                </section>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4" id="qa6">
            <div class="col-sm-12 faq c2">
                <section class="qa-question">
                    How can I remove glue in case of an accident?
                </section>
                <section class="qa-answer">
                    On fabric, moisten a cloth with mineral spirits and rub.
                    On skin or hard surface, moisten a cloth with vegetable oil and rub.
                </section>
            </div>
        </article>

        <article class="col-xs-12 col-sm-6 col-md-4" id="qa7">
            <div class="col-sm-12 faq c3">
                <section class="qa-question">
                    Will Deerfly Patches work on mosquitos, black flies, gnats, or other biting flies?
                </section>
                <section class="qa-answer">
                    Although some people have reported success with stopping a few other biting flies,
                    we do not recommend them as protection for anything but deerflies.
                </section>
            </div>
        </article>
    </div>
</main>
