
@{
    ViewBag.Title = "Faq";
}

<h2>Faq</h2>

<div class="row">
    <article class="col-xs-12 col-sm-6 col-md-4 faq" id="qa1">
        <section class="qa-question">
            What is the best insect repellent for deer flies ?
        </section>
        <section class="qa-answer">
            A conventional repellent will not work on deer flies. Even DEET won't stop them. 
            Natural Trednot Deerfly Patches worn on the cap is the most effective protection. 
            They are odorless, no chemicals, and safe with children.
        </section>
    </article>
</div>