@model IEnumerable<Cstieg.Sales.Models.Product>

@section AdditionalMeta
{
    <meta name="keywords" content="deer fly control,natural repellent,non-toxic,stop deer flies" />
    <meta name="description" content="Tred-Not Deerfly Patches are flesh-colored strips that attach to the back of the cap or hat,
              catch the deer flies and stop them from biting. Order here." />
}

@{
    ViewBag.Title = "Home Page";
}

<div class="container main-page">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 front-display-item">
            <img class="image-square-rounded centered" alt="Deerfly Patches header graphic"
                 src="~/content/images/deerflypatchheader.jpg"
                 srcset="~/content/images/deerflypatchheader.jpg 409w, ~/content/images/deerflypatchheader-small.jpg 164w"
                 sizes="300px" />
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 front-display-item">
            <h2>How Can I Protect Against Deerflies?</h2>
            <p>
                Deerfly Patches are odorless hat strips that stop deerflies from biting!
            </p>
            <ul>
                <li>Prevents biting better than a spray repellent</li>
                <li>Natural, no chemicals, no odor</li>
                <li>Safe with children</li>
            </ul>
            <p>
                Easily attach the 2" by 6" patches to the back of your hat or cap.
                Attacking deer flies will land on the patch.
                When they do, they stay, and bother you no more.
            </p>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 front-display-item">
            <img class="image-square-rounded centered" alt="Deerfly Patches are the best deerfly bite prevention!"
                 src="~/content/images/starburst-box-dfp.png" />
        </div>
        <div class="clearfix"></div>

        <div class="product-display">
            <h2 class="text-center">@Html.ActionLink("Buy Here", "Index", "Order")</h2>
            @foreach (var item in Model)
            {
                @Html.Partial("_ProductPartial", item)
            }

            <article class="col-xs-12 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="image-wrapper">
                    <img class="product-image" alt="Retail display carton image"
                         src="~/content/images/20170914142128-Deerfly_Patches_Retail-w200.png"
                         srcset="~/content/images/20170914142128-Deerfly_Patches_Retail-w800.png 800w,
                                 ~/content/images/20170914142128-Deerfly_Patches_Retail-w400.png 400w,
                                 ~/content/images/20170914142128-Deerfly_Patches_Retail-w200.png 200w,
                                 ~/content/images/20170914142128-Deerfly_Patches_Retail-w100.png 100w"
                         sizes="200px" />
                </div>
                <p class="product-description">
                    Retailers and distributors please contact us for wholesale pricing.
                </p>
                <p class="larger-text">
                    <a href="callto:12318322323">(231) 832-2323</a>
                </p>
                <p class="larger-text">
                    <address><a href="mailto:stieg_d@yahoo.com">stieg_d@yahoo.com</a></address>
                </p>
            </article>
        </div>



    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img class="image-square-rounded" src="~/content/images/deerfly.jpg"
                 alt="Deerfly feeding on human skin" />
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
            <h3>About Deer Flies</h3>
            <p>
                Deer flies are a type of horse fly that target the head and neck of its victims,
                both animal and human, leaving a painful bite to which many are allergic.
                They are active in the summer months in northern USA and Canada.
            </p>
            <p>
                Deer flies cannot be deterred or repelled.
                There is no repellant to defend yourselves against them.
                They will not relent until they get what they are after - blood.
                There is only one solution: get them before they get you!
            </p>
        </div>

        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
            <img class="background-image" src="~/content/images/slantbox-info.png" />
            <div class="foreground-text centered">
                <h3>
                    Deer flies are also known as:
                </h3>
                <ul>
                    <li>Marsh Flies</li>
                    <li>Sheep Flies</li>
                    <li>Yellow Flies</li>
                    <li>Pine Flies</li>
                    <li>Strawberry Flies</li>
                    <li>May Flies</li>
                    <li>Greenheads</li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-sm-12">
            <h3>About Deerfly Patches</h3>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6" id="about-deerflies">
            <p>
                Deerfly Patches are 2" by 6" flesh-colored traps that attach to the back of the cap or hat.
                Deer flies target the patch and are quickly caught.
                They are no longer a nuisance flying around your head or biting.
            </p>
            <p>
                Deerfly Patches have been field tested by Ohio State University and the Michigan Department of
                Fisheries and Wildlife. People like them because they have no chemicals and no odor, nothing
                greasy to rub or spray on your skin.
            </p>
            <p>
                We have studied deer flies intensively for nearly thirty years and have done extensive research
                and testing on their biting habits.  We have tested all insect repellents....they don't work
                effectively on deer flies.
            </p>
            <p>
                In the development of our Deerfly Patches, we have tested and proven different habits of the
                deer fly to determine why they bite some people more than others.
                We have experimented with carbon dioxide emissions, body heat emissions, motion and non-motion,
                clothing colors, reflective objects, smooth and furry surfaces, body odors, as well as
                environmental conditions... location, time of day, sunshine/cloudy, warm/cool, etc.
                From our research and development, we have created the best control for deer flies.
            </p>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-6" id="deerfly-images">
            <div class="deerfly-images-content">
                <iframe class="video" width="560" height="315"
                        src="https://www.youtube.com/embed/DqEAD1sfYIY?rel=0"
                        frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>

</div>