@model IEnumerable<Deerfly_Patches.Models.Product>

@{
    ViewBag.Title = "Home Page";
}

<main class="container main-page">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 front-display-item">
            <img class="image-square-rounded centered" alt="Deerfly Patches header graphic"
                 src="~/content/images/deerflypatchheader.jpg"
                 srcset="~/content/images/deerflypatchheader.jpg 409w, ~/images/deerflypatchheader-small.jpg 164w" />
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-6 front-display-item">
            <h2>How Can I Protect Against Deerflies?</h2>
            <p>
                Deerfly Patches are odorless hat strips that stop deerflies from biting!
            </p>
            <ul>
                <li>Prevents biting better than a spray repellent</li>
                <li>Natural, no chemicals, no odor</li>
                <li>Safe with children</li>
            </ul>
            <p>
                Easily attach the 2" by 6" patches to the back of your hat or cap.  
                Attacking deer flies will land on the patch.  
                When they do, they stay, and bother you no more.
            </p>
        </div>



        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 front-display-item">
            <img class="image-square-rounded centered" alt="Deerfly Patches are the best deerfly bite prevention!" 
                 src="~/content/images/starburst-box-dfp.png" />
        </div>
        <div class="clearfix"></div>

        <div class="product-display">
            <h2 class="text-center">Buy Here</h2>
            @foreach (var item in Model)
            {
                if (item.DisplayOnFrontPage)
                {
                    @Html.Partial("_ProductPartial", item)
                }
            }

            <article class="col-xs-12 col-sm-4 col-md-3 col-lg-3 product-item">
                <div class="image-wrapper">
                    <img class="product-image" src="" alt="Retail display carton image" />
                </div>
                <p class="product-description">
                    Retailers and distributors please contact us for wholesale pricing.
                </p>
                <p class="larger-text">
                    <a href="callto:12318322323">(231) 832-2323</a>
                </p>
                <p class="larger-text">
                    <address><a href="mailto:stieg_d@yahoo.com">stieg_d@yahoo.com</a></address>
                </p>
            </article>
        </div>



    </div>
</main>