@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img class="image-square-rounded" src="~/content/images/deerfly1.jpg"
                 srcset="~/content/images/deerfly1.jpg 285w, ~/content/images/deerfly1-small.jpg 143w"
                 alt="Deerfly feeding on human skin" />
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-5">
            <h3>What are Deerflies?</h3>
            <p>
                Deer flies are a type of horse fly that target the head and neck of its victims,
                both animal and human, leaving a painful bite to which many are allergic.
                They are active in the summer months in northern USA and Canada.
            </p>
        </div>

        <div class="hidden-xs hidden-sm col-md-4 col-lg-4">
            <img class="background-image" src="~/content/images/slantbox-info.png" />
            <div class="foreground-text centered">
                <h3>
                    Deer flies are also known as:
                </h3>
                <ul>
                    <li>Marsh Flies</li>
                    <li>Sheep Flies</li>
                    <li>Yellow Flies</li>
                    <li>Pine Flies</li>
                    <li>Strawberry Flies</li>
                    <li>May Flies</li>
                    <li>Greenheads</li>
                </ul>
            </div>
        </div>

        <div class="clearfix"></div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <h3>How Can I Protect Against Deerflies?</h3>
            <p>
                Deerfly Patches are odorless hat strips that stop deerflies from biting!
            </p>
            <ul>
                <li>Prevents biting better than a spray repellent</li>
                <li>Natural, no chemicals</li>
                <li>Safe with children</li>
            </ul>
        </div>

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img class="image-square-rounded" alt="Deerfly Patches header graphic"
                 src="~/content/images/deerflypatchheader.jpg"
                 srcset="~/content/images/deerflypatchheader.jpg 409w, ~/images/deerflypatchheader-small.jpg 164w" />
        </div>

        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-6">
            <h3>Deerfly Patches are the best deerfly bite prevention!</h3>
        </div>

    </div>
</div>