
@{
    ViewBag.Title = "Return Policy";
}

@section BreadCrumbs
{
    <ul class="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/" itemprop="item">Deerfly Patches</a>
            <meta itemprop="position" content="1" />
        </li>
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
            <a href="/Returns" itemprop="item">Return policy</a>
            <meta itemprop="position" content="2" />
        </li>
    </ul>
}

<h2>Return Policy</h2>

All products on this site are backed with a 100% satisfaction guarantee.
If for any reason one of our products does not meet your expectations,
please <a href="/contact">contact</a> us within 15 days for a replacement or an immediate full refund.
If the product is defective, or the return is due to a mistake on our end, we will also cover the expense of return shipping.
If the return is due to a mistake on the customer's end, the customer will bear the cost of return shipping.

