@{
    Layout = null;
}

 <!-- Use result of DoEC to send the buyer to the correct page -->
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script>
        top.window.opener.location = '/checkout/index';
        window.close();
    </script>
</head>
<body>
    <!-- Include non-JavaScript content here -->
    If this page does not redirect <a href="/checkout/index">Click Here</a>
</body>
</html>
